@font-face{
  font-family: alienscript;
  src: url(fonts/alienscript-regular-webfont.ttf);
}



body{
  margin: 0px;
  padding: 0px;
  font-family: alienscript;
  color: white;
  // font-size: 3rem;
  overflow: hidden;
}

.grid {
  position: relative;
  grid-template-columns: 175px 1fr 1fr;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 175px 1fr 1fr;
  grid-template-rows: 1fr 1.66fr 2fr;

}

@keyframes grid-animate {
 0% {
   grid-template-columns: 0px 1fr 0fr;
 }
 100% {
grid-template-columns: 175px 1fr 1fr;
  }
}


  .sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: span 3;
    overflow:hidden;
    opacity: 0;
  }
  .colorblock1 {
    animation: main-image-sidewipe .9s ease both, main-image-wipe .9s 1.5s ease forwards;
    background-color: #4B3E65;
    z-index: 1;
    width: 100%;
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  .colorblock2 {
    animation: side-image-wipe .9s 1.5s ease forwards;
    background-color: #1a1a1a;
    z-index: 1;
    width: 100%;
    height: 100%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .colorblock3 {
    animation: side-image-wipe .9s 1.5s ease forwards;
    background-color: #1a1a1a;
    z-index: 1;
    width: 100%;
    height: 100%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .colorblock4 {
    animation: side-image-wipe .9s 1.5s ease forwards;
    background-color: #1a1a1a;
    z-index: 1;
    width: 100%;
    height: 100%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  @keyframes main-image-wipe {
   0% {
transform: rotateX(0deg);
  transform-origin: bottom;
   }
   100% {
     transform: rotateX(90deg);
       transform-origin: bottom;
    }
  }
  @keyframes main-image-sidewipe {
   0% {
transform: rotateY(90deg);
  transform-origin: left;
   }
   100% {
     transform: rotateY(0deg);
       transform-origin: left;
    }
  }

  @keyframes side-image-wipe {
    0% {
      transform: rotateX(0deg);
      transform-origin: top;
    }
    100% {
      transform: rotateX(90deg);
      transform-origin: top;
     }
   }

   @keyframes side-image-topwipe {
    0% {
 transform: rotateY(90deg);
   transform-origin: bottom;
    }
    100% {
      transform: rotateY(0deg);
        transform-origin: bottom;
     }
   }

  .main-image {
    z-index:0;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    overflow:hidden;
    opacity: 0;
    animation: main-image .1s .9s ease both;
    // animation-duration: 5s;
    // transition-timing-function: ease;
    // animation-fill-mode: both;
    img{
      height: 100%;
    }
  }
  .image-top{
      background-color: blue;
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
  }
  .image-middle{
    // animation: all-objects 3s 2.5s ease both;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow:hidden;
    // display: flex;
    // align-items: center;
    // opacity: 0;
    img {
      width: 100%;
    body {
        background-color: lightblue;
    }
}
    }

  .image-bottom{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    overflow:hidden;
    // opacity: 0;
    video{
      height: 100%;
    }
  }

 @keyframes main-image {
  0% {

     opacity: 0;
  }
  100% {
    opacity: 1;
   }
 }


// Video:

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -100;
}
.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.testText {
  margin-top: 50%;
  text-align: center;
}

// TriDiv Object:

@keyframes flyIn {
  from{ transform: translateX(-2000px)}
  to{ transform: translateX(0px)}
}

#tridiv {
// animation-delay: 25s;
animation-name: flyIn;
animation-duration: 3s;
animation-fill-mode: both;
perspective: 800px;
position: absolute;
overflow: hidden;
width: 100%;
height: 100%;
background: transparent;
font-size: 225%;
font-family: alienscript;
}
.face {
box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
}
.scene, .shape, .face, .face-wrapper, .cr {
position: absolute;
transform-style: preserve-3d;
}
.scene {
width: 80em;
height: 80em;
top: 50%;
left: 50%;
margin: -40em 0 0 -40em;
}
.shape {
top: 50%;
left: 50%;
width: 0;
height: 0;
transform-origin: 50%;
}
.face, .face-wrapper {
overflow: hidden;
transform-origin: 0 0;
backface-visibility: hidden;
/* hidden by default, prevent blinking and other weird rendering glitchs */
}
.face {
background-size: 100% 100%!important;
background-position: center;
}
.face-wrapper .face {
left: 100%;
width: 100%;
height: 100%
}
.photon-shader {
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%
}
.side {
left: 50%;
}
.cr, .cr .side {
height: 100%;
}
[class*="cuboid"] .ft, [class*="cuboid"] .bk {
width: 100%;
height: 100%;
}
[class*="cuboid"] .bk {
left: 100%;
}
[class*="cuboid"] .rt {
transform: rotateY(-90deg) translateX(-50%);
}
[class*="cuboid"] .lt {
transform: rotateY(90deg) translateX(-50%);
}
[class*="cuboid"] .tp {
transform: rotateX(90deg) translateY(-50%);
}
[class*="cuboid"] .bm {
transform: rotateX(-90deg) translateY(-50%);
}
[class*="cuboid"] .lt {
left: 100%;
}
[class*="cuboid"] .bm {
top: 100%;
}
/* .cub-1 styles */
.cub-1 {
transform:translate3D(0em, 0.027777777777777776em, -0.027777777777777776em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
opacity:1;
width:16em;
height:0em;
margin:0em 0 0 -8em;
}
.cub-1 .ft {
transform:translateZ(1.5em);
}
.cub-1 .bk {
transform:translateZ(-1.5em) rotateY(180deg);
}
.cub-1 .rt, .cub-1 .lt {
width:3em;
height:0em;
}
.cub-1 .tp, .cub-1 .bm {
width:16em;
height:3em;
}
.cub-1 .face {
background-color:#000000;
}
/* .cub-2 styles */
.cub-2 {
transition: all 3s;
transform:translate3D(0em, -2.4097222222222223em, -1.4652777777777777em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
opacity:1;
width:16em;
height:5em;
margin:-2.5em 0 0 -8em;
}
.cub-2 .ft {
transform:translateZ(0em);
}
.cub-2 .bk {
transform:translateZ(0em) rotateY(180deg);
}
.cub-2 .rt, .cub-2 .lt {
width:0em;
height:5em;
}
.cub-2 .tp, .cub-2 .bm {
width:16em;
height:0em;
}
.cub-2 .face {
background-color:#000000;
}
/* .cub-3 styles */
.cub-3 {
transform:translate3D(0em, -4.875em, 0.0069444444444444475em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
opacity:1;
width:16em;
height:0em;
margin:0em 0 0 -8em;
}
.cub-3 .ft {
transform:translateZ(1.5em);
}
.cub-3 .bk {
transform:translateZ(-1.5em) rotateY(180deg);
}
.cub-3 .rt, .cub-3 .lt {
width:3em;
height:0em;
}
.cub-3 .tp, .cub-3 .bm {
width:16em;
height:3em;
}
.cub-3 .face {
background-color:#000000;
}
/* .cub-4 styles */
.cub-4 {
transform:translate3D(-8em, -2.4027777777777777em, -2.7755575615628914e-17em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
opacity:1;
width:0em;
height:5em;
margin:-2.5em 0 0 0em;
}
.cub-4 .ft {
transform:translateZ(1.5em);
}
.cub-4 .bk {
transform:translateZ(-1.5em) rotateY(180deg);
}
.cub-4 .rt, .cub-4 .lt {
width:3em;
height:5em;
}
.cub-4 .tp, .cub-4 .bm {
width:0em;
height:3em;
}
.cub-4 .face {
background-color:#000000;
}
/* .cub-5 styles */
.cub-5 {
transform:translate3D(7.9375em, -2.375em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
opacity:1;
width:0em;
height:5em;
margin:-2.5em 0 0 0em;
}
.cub-5 .ft {
transform:translateZ(1.5em);
}
.cub-5 .bk {
transform:translateZ(-1.5em) rotateY(180deg);
}
.cub-5 .rt, .cub-5 .lt {
width:3em;
height:5em;
}
.cub-5 .tp, .cub-5 .bm {
width:0em;
height:3em;
}
.cub-5 .face {
background-color:#000000;
}

#tridiv:active{
  .cub-2{
    transition: all 3s;
    transform: rotateX(180deg) translateY(2.4em);
}
}


#graphicText {
  padding-top: 75px;
  padding-left: 175px;
  #human{
    color: #dbff70;
    padding-top: 70px;
    padding-left: 170px;
  }

}
.anim-text-flow::selection {
  background: yellow
}






/*
 * Animation module with all animation code
 */
.anim-text-flow,
.anim-text-flow-hover:hover {
  /*
   * Animation variables
   */
  $animationSteps: 20;
  $animationDuration: 50;
  $animationElement: span;
  $animationElementsCount: 100;
  $delayBetweenLetters: 0.2;

  /*
   * Elements settings
   */
  #{$animationElement} {
    animation-name: anim-text-flow-keys;
    animation-duration: #{$animationDuration}s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }

  /*
   * Keyframe loop
   */
  @keyframes anim-text-flow-keys {
    @for $i from 0 through $animationSteps {
      #{percentage($i * (1 / $animationSteps))} {
        color: hsla(random(365), 60, 60, 1);
      }
    }
  }

  /*
   * Element animation delay loop
   */
  $totalDelayTime: $animationElementsCount * $delayBetweenLetters;

  @for $i from 1 through $animationElementsCount {
    #{$animationElement}:nth-of-type(#{$i}) {
      animation-delay: #{($i * $delayBetweenLetters) - $totalDelayTime}s;
    }
  }
}

// Rainbow Text:
body {
  background-color: #1a1a1a;
  color: #fefefe;
  font-family: 'Ubuntu';
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1.3em;
  line-height: 2;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  text-align: center;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.txt {
  display: block;
}

a {
  text-decoration: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
  color: #eee;
  font-size: 15px;
  line-height: 15px;
}

@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);


@media only screen and (max-width: 124.36vh) {
    .image-middle {
      img{
        height: 100%;
        width: auto;
      }

    }
}
